<div>
  <div class="md:px-[120px] md:py-[41px] p-5 bg-[#2C3878] text-[#fff] flex md:flex-row flex-col mb-[80px]">
      <div class="flex-[60%] md:my-0 my-5">
        <h1 class="md:text-[36px] text-[24px] max-w-[613px] font-semibold">
          let's discuss making your interior like a dream place!
        </h1>
      </div>
      <div class="flex-[40%]">
        <p class="text-[#D9D9D9] text-[18px] mb-[20px]">Contact us below to work together to build your amazing interior</p>
        <button class="bg-[#fff] w-[142px] h-[49px] text-[#333333]">Contact Us</button>
      </div>
    </div>
    <app-newsletter-section></app-newsletter-section>
  </div>
