<div class="md:px-[120px] px-5">
    <div class="flex md:flex-row flex-col gap-[32px] mt-[80px]">
      <div class="flex-1 h-[32rem]">
        <img src="../../../assets/images/topLeftImg.png" alt="top-left" class="h-full w-full object-cover">
      </div>
      <div class="flex-1 h-[32rem]">
        <img src="../../../assets/images/topRightImg.png" alt="top-right" class="h-full w-full object-cover">
      </div>
    </div>
    <div class="my-[32px] w-full h-[32rem]">
      <img src="../../../assets/images/middleImg.png" alt="middle-img" class="w-full h-full object-cover">
    </div>
    <div class="flex md:flex-row flex-col mb-[89px] gap-[32px]">
      <div class="flex-1 h-[32rem]">
        <img src="../../../assets/images/bottomLeftImg.png" alt="bottom-left" class="h-full w-full object-cover">
      </div>
      <div class="flex-1 h-[32rem]">
        <img src="../../../assets/images/bottomRightImg.png" alt="bottom-right" class="h-full w-full object-cover">
      </div>
    </div>
</div>
