<main class="flex flex-col justify-center items-center md:px-[120px] px-5">
  <h1 class="md:text-[56px] text-[30px] font-bold my-[40px]">Minimalist Room</h1>
  <p class="font-normal md:text-[18px] mb-[53px] max-w-[518px] text-center">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
  <img src="../../../assets/images/heroImg.png" alt="hero-img" class="w-full object-cover h-[513px]">
  <div class="flex md:flex-row flex-col mt-[100px] justify-between gap-[32px] text-[#9C9C9C] text-[18px]">
      <div class="flex-1">
        <h1 class="md:text-[24px] font-semibold mb-[24px] text-[#333333]">Project Overview</h1>
        <p class="text-justify">Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. </p>
        <div class="mt-[60px]">
          <span class="md:mr-[80px] mr-5">July 22 - 2022</span>
          <span>Interior Design - Furnitur</span>
        </div>
      </div>
      <div class="flex-1">
        <h1 class="md:text-[24px] font-semibold mb-[24px] text-[#333333]">Design Process</h1>
        <p class="text-[18px] text-justify">Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.</p> <br>
        <p class="text-[18px] text-justify">Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.</p>
      </div>
  </div>
</main>
