<div class="md:px-[120px] md:py-[41px] p-5 flex md:flex-row flex-col justify-between">
  <div class="flex-[60%] md:my-0 my-5">
    <a href="#">
      <h1 class="font-bold text-[31.93px] md:my-0 my-5 text-[#000000]">Dananz</h1>
    </a>
    <h1 class="md:text-[36px] text-[24px] max-w-[481px] font-semibold text-[#333333]">One of the best furniture agency.</h1>
  </div>
  <div class="flex-[40%]">
    <div class="flex items-center">
      <div class="w-[14px] mr-[10px] h-[14px] rounded-full bg-[#333333] items-start"></div>
      <label class="text-[#333333] flex-1 font-normal text-[18px]">Enter  your email to get the laterst news</label>
    </div>
    <div class="flex justify-between items-center border-b-[1px] border-[#141414]  py-[15px] mt-[23px]">
      <input type="email" placeholder="Email Address" class="flex-[90%] text-[#333333] placeholder:text-[#D9D9D9] bg-transparent outline-none border-none text-[16px]">
      <a href="#" class="flex-[10%]">
        <svg width="26" height="12" viewBox="0 0 26 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 10.2479H23.5L16 1.23633" stroke="#141414" stroke-width="2"/>
        </svg>
      </a>
    </div>
    <div class="float-right mt-[39.72px] text-[16px] font-normal md:my-0 my-5">
      <h5 class="mb-[11px]">Follow us On</h5>
      <div class="flex gap-[25px]">
         <a href="#">
          <div class="w-[32px] h-[32px] rounded-full bg-[#D9D9D9] flex justify-center items-center">
            <img src="../../../assets/images/facebook.svg" alt="facebook">
          </div>
         </a>
         <a href="#">
          <div class="w-[32px] h-[32px] rounded-full bg-[#D9D9D9] flex justify-center items-center">
            <img src="../../../assets/images/instagram.svg" alt="instagram">
          </div>
         </a>
         <a href="#">
          <div class="w-[32px] h-[32px] rounded-full bg-[#D9D9D9] flex justify-center items-center">
            <img src="../../../assets/images/tiktok.svg" alt="tiktok">
          </div>
         </a>
         <a href="#">
          <div class="w-[32px] h-[32px] rounded-full bg-[#D9D9D9] flex justify-center items-center">
            <img src="../../../assets/images/youtube.svg" alt="youtube">
          </div>
         </a>
      </div>
    </div>

  </div>
 </div>

